@import "lib/normalize";
@import "common/variables";
@import "pages/home";
@import "pages/wait";
@import "pages/game";

* {
	box-sizing: border-box;
}

body {
	font-family: 'Chewy', cursive;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}
